:root {
    --background: #7c90db;
    --cardBackground: #c49e85;
    --highlight: #f8f4f9;
    --selectedCard: #d7beac;
    --button: #6b4b3e;
}

body {
    background-color: var(--background);
}

.cardColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    margin: 0.5 em;
    width: 100vw;
}

.resourceContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    padding: 0.5em;
    margin: 0.5em;
}

.card {
    background-color: var(--cardBackground);
    border: 1px solid darkgray;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em;
    width: 16em;

    flex-grow: 0;
    flex-shrink: 0;
}

.card:hover {
    background-color: var(--selectedCard);
}

button {
    background-color: var(--button);
    color: var(--highlight);
    padding: 0.2em;
    margin: 0.2em;
    border: none;
    border-radius: 0.2em;
}

button:hover {
    background-color: #4e362d;
}